<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure) I</p>

데이터 구조(Data Structure)란 데이터에 편리하게 접근하고, 변경하기 위해서 데이터를 저장하거나 조작하는 방법을 말한다.

> **Program = Data Structure + Algorithm**
> - Niklaus Wirth

- 알고리즘에 빈번히 활용되는 순서가 있는(ordered) 데이터 구조 
    - 문자열(String)
    - 리스트(List)
- 데이터 구조에 적용 가능한 Built-in Function

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

문자열의 다양한 조작법(method)

https://docs.python.org/ko/3/library/stdtypes.html#string-methods

In [1]:
# 변경할 수 없고, 
a = 'hi'
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [2]:
# iterable! 순회가능하다.
for char in a:
    print(char)

h
i

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 없으면, `-1`을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [3]:
a = 'apple'

In [4]:
a.find('a')

0

In [5]:
a.find('p')

1

In [6]:
a.find('f')

-1

### `.index(x)`

x의 **첫번째 위치**를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [7]:
a = 'apple'

In [8]:
a.index('a')

0

In [9]:
a.index('p')

1

In [10]:
a.index('f')

ValueError: substring not found

In [11]:
a = 'apple'
try:
    b = a.index('f')
except:
    b = -1
print(b)

-1

In [12]:
a.find('f')

-1

## 값 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [13]:
z = 'zoo!yoyo!'

In [14]:
z.replace('o', '')

'z!yy!'

In [15]:
z.replace('o', '', 2)

'z!yoyo!'

In [17]:
'banana'.replace('a', '', 2)

'bnna'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [18]:
oh = '    oh!\n'

In [19]:
oh.strip()

'oh!'

In [20]:
oh.lstrip()

'oh!\n'

In [21]:
oh.rstrip()

'    oh!'

In [22]:
'홍길동 ' == '홍길동'

False

In [25]:
escape = '\r\t\n '

In [26]:
escape.strip()

''

### `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [27]:
csv = '1,홍길동,01012344567'

In [28]:
# 구분자 지정
csv.split(',')

['1', '홍길동', '01012344567']

In [29]:
type(csv.split(','))

list

In [30]:
numbers = '1 5 6'
# 기본은 공백을 기준으로!
numbers.split()

['1', '5', '6']

### `'separator'.join(iterable)`

특정한 문자열로 만들어 반환합니다.

반복가능한(iterable) 컨테이너의 요소들을 separator를 구분자로 합쳐(`join()`) 문자열로 반환합니다.

In [31]:
word = '배고파'
words = ['안녕', 'hello']

# 아래에 코드를 작성하세요.

In [32]:
'!'.join(word)

'배!고!파'

In [33]:
','.join(words)

'안녕,hello'

## 문자 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [34]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [35]:
# 처음만 대문자
a.capitalize()

"Hi! everyone, i'm kim"

In [36]:
# 특정 조건에서만 대문자
a.title()

"Hi! Everyone, I'M Kim"

In [37]:
# 모두 대문자
a.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [38]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [39]:
a.lower()

"hi! everyone, i'm kim"

In [40]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### 기타 문자열 관련 검증 메소드 : 참/거짓 반환
```py
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [41]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
'3'.isalpha()

False

In [42]:
'a'.isalpha()

True

In [43]:
'3.5'.isdecimal()

False

In [46]:
'3'.isnumeric()

True

In [50]:
'½'.isnumeric()

True

In [51]:
'³'.isdigit()

True

---

# 리스트(List) 

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

데이터 구조로서의 리스트(list)와 조작법(method)

* https://docs.python.org/ko/3/tutorial/datastructures.html#more-on-lists

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [52]:
a = [0, 1]
a[0] = 'hi'
a

['hi', 1]

In [53]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [54]:
# 값을 추가해봅시다.
cafe.append('banapresso')

In [55]:
# 코드 입력
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string**[주의]**) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [56]:
# 코드 입력
cafe.extend(['이디야'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [57]:
cafe = cafe + ['스벅']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅']

In [58]:
cafe.extend(['커피와빵', '던킨도너츠'])

In [59]:
cafe

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠']

In [60]:
# append와 비교해봅시다.
a = []
a += ['김밥천국', '김밥카페']

In [61]:
a

['김밥천국', '김밥카페']

In [ ]:
# 코드 입력
print(cafe)

In [ ]:
# 문자열도 활용해봅시다.

In [62]:
print(cafe)
cafe.extend('ediya')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠']
['starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'a']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [63]:
# 코드 입력
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'a']

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [64]:
# 코드 입력
cafe.insert(-1, 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a']

In [65]:
cafe.insert(len(cafe), '진짜안녕')

In [66]:
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a', '진짜안녕']

In [67]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.
len(cafe)

16

In [68]:
# 코드 입력
cafe.insert(20000, '이만안녕')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'banapresso', '이디야', '스벅', '커피와빵', '던킨도너츠', 'e', 'd', 'i', 'y', 'bye', 'a', '진짜안녕', '이만안녕']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [69]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [70]:
# 코드 입력
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [71]:
# 코드 입력
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [72]:
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [73]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [ ]:
# 삭제해봅시다. return도 확인해보세요.

In [74]:
a.pop()

6

In [75]:
print(a)

[1, 2, 3, 4, 5]

In [76]:
a.pop(0)
print(a)

[2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [77]:
students = ['홍길동', '유재석']
bye = students.pop()
print(f'{bye} 학생이 떠나갔습니다...! {students}')

유재석 학생이 떠나갔습니다...! ['홍길동']

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [78]:
a = [1, 2, 3]
a.clear()
a

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [79]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [80]:
a.index(1)

0

In [81]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index('a')

ValueError: 'a' is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [82]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [83]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [84]:
a = [1, 2, 5, 1, 5, 1]

# 갯수만큼 반복
count_a = a.count(1)
for i in range(count_a):
    # 삭제
    a.remove(1)

a

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [85]:
a

[2, 5, 5]

In [86]:
1 in a

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

In [87]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[28, 1, 40, 20, 25, 22]

In [88]:
# sort() 를 사용해봅시다.
# 원본 바꿈!
lotto.sort()

In [89]:
lotto

[1, 20, 22, 25, 28, 40]

In [91]:
# 원본 X! 정렬된 값을 반환
sorted(random.sample(range(1, 46), 6))

[3, 18, 24, 27, 38, 41]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [92]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [93]:
classroom.reverse()

In [94]:
classroom

['Justin', 'David', 'Tom']

## 리스트 복사

In [95]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [96]:
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [97]:
copy_list[0] = 'A!!'
print(copy_list, original_list)

['A!!', 2, 3] ['A!!', 2, 3]

In [ ]:
# id 값을 확안해봅시다.

In [98]:
print(id(copy_list))
print(id(original_list))

2757652573760
2757652573760

## 데이터의 분류 (*복습*) 
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [ ]:
# immutable 데이터의 복사는 어떻게 이루어질까?
a = 20
b = a
b = 10

print(a)
print(b)

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [99]:
# mutable 데이터의 복사는 어떻게 이루어질까?
a = [1, 2, 3, 4]
b = a
b[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [ ]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%20%5B1,%202,%203,%204%5D%0Ab%20%3D%20a%0Ab%5B0%5D%20%3D%20100%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

## 리스트 복사 방법

### slice 연산자 사용 `[:]`

In [ ]:
# 리스트를 복사해봅시다.

In [101]:
a = [1, 2, 3, 4]
# 전체를 똑같이 잘라냄
b = a[:]
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [ ]:
# 다른 방법으로 복사해봅시다.

### `list()` 활용

In [102]:
a = [1, 2, 3, 4]
# list를 새로운 list로 형변환
b = list(a)
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4]
[100, 2, 3, 4]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [105]:
a = [[1, 2, 3], 2, 3]
b = list(a)
print(a, b)
b[0][0] = 100
print(a, b)
b[1] = '원소'
print(a, b)

[[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3]
[[100, 2, 3], 2, 3] [[100, 2, 3], 2, 3]
[[100, 2, 3], 2, 3] [[100, 2, 3], '원소', 3]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [106]:
import copy
a = [[1, 2, 3], 2, 3]
b = copy.deepcopy(a)
print(a, b)
b[0][0] = 100
print(a, b)

[[1, 2, 3], 2, 3] [[1, 2, 3], 2, 3]
[[1, 2, 3], 2, 3] [[100, 2, 3], 2, 3]

## List Comprehension

List Comprehension은 표현식과 제어문을 통해 리스트를 생성합니다.

여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

### 활용법

```python
[expression for 변수 in iterable]

list(expression for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [107]:
numbers = range(1, 11)

In [ ]:
# 반복문을 활용하여 작성하세요.

In [108]:
cubic_list = []
for number in numbers:
    cubic_list.append(number ** 3)

In [109]:
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [110]:
[number**3 for number in numbers]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
print(cubic_list)

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[expression for 변수 in iterable if 조건식]

[expression if 조건식 else 식 for 변수 in iterable]
```

### [연습] 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 작성하세요.

In [111]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)

In [112]:
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [114]:
[i for i in range(1, 11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
print(even_list)

In [115]:
# 홀수는 음수, 짝수는 양수
n = 3
'홀수' if n % 2 == 1 else '짝수'  # 조건표현식

'홀수'

In [125]:
# i 대신
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
# 조건 표현식
['홀수' if i % 2 == 1 else '짝수' for i in range(1, 11)]

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [128]:
# 뒤에 조건식에는 else 사용 불가
['홀수' for i in range(1, 11) if i % 2 == 1 else '짝수']

SyntaxError: invalid syntax (<ipython-input-128-ebc603da097f>, line 2)

### [실습] 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

**[입력 예시]**
```python
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']
```

---
**[출력 예시]**

```   
[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]
```

In [2]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [3]:
result = []
for boy in boys:
    for girl in girls:
        result.append((boy, girl))
print(result)

[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]

In [ ]:
print(pair)

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [6]:
pair = [(boy, girl) for boy in boys for girl in girls]
print(pair)

[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]

In [ ]:
print(pair)

### [응용] 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---
**[출력 예시]**

```
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [10]:
result = []
for x in range(1, 50):
    for y in range(x, 50):
        for z in range(y, 50):
            if (x ** 2) + (y ** 2) == (z ** 2):
                result.append((x, y, z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
print(result)

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [13]:
triple = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2]
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [ ]:
print(result)

### [응용] 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

**[입력 예시]**

```python
words = 'Life is too short, you need python!'
```

---
**[출력 예시]**

```
Lf s t shrt, y nd pythn!
```

In [16]:
vowels = 'aeiou'
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [22]:
# 자음을 골라내 새로운 배열로 만든 후 출력
result = []
for word in words:
    if word not in vowels:
        result.append(word)
print(''.join(result))

Lf s t shrt, y nd pythn!

In [30]:
words.replace('i', '')
print(words)

Life is too short, you need python!

In [33]:
result = words
for word in words:
    if word in vowels:
        result = result.replace(word, '')
print(result)
print(words)

strng
string

In [32]:
words = 'string'
result = words

print(id(words))
print(id(result))

4425131888
4425131888

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [ ]:
print(''.join(result))

# 데이터 구조에 적용가능한 Built-in Function

순회 가능한(iterable) 데이터 구조에 적용가능한 Built-in Function

> iterable 타입 - `list`, `dict`, `set`, `str`, `bytes`, `tuple`, `range`

- `map()`
- `filter()`
- `zip()`
- ~~`reduce()`~~ ([참고](https://docs.python.org/ko/3/library/functools.html#functools.reduce))

## `map(function, iterable)`

* 순회가능한 데이터 구조(iterable)의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* return은 `map_object` 형태이다.

In [35]:
a = [1, 2, 3]
b = [2, 3, 4]

def multiple(x, y):
    return x * y

list(map(multiple, a, b))

[2, 6, 12]

In [129]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# List comprehension 활용

In [131]:
[str(i) for i in numbers] # 반복을 돌면서 특정 함수를적용!

['1', '2', '3']

In [132]:
''.join([str(i) for i in numbers])

'123'

In [ ]:
print(new_numbers)

In [ ]:
# map() 활용

In [133]:
map(str, numbers)

In [134]:
list(map(str, numbers))

['1', '2', '3']

In [ ]:
print(new_numbers)

In [135]:
# 반복을 하면서 특정 함수를 적용한 결과!
[str(i) for i in numbers] 
list(map(str, numbers))

['1', '2', '3']

`map()` 함수는 입력값을 처리할 때 자주 활용됩니다.

In [ ]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# List comprehension 활용

In [ ]:
print(new_numbers)

In [ ]:
# map() 활용

In [ ]:
print(new_numbers)

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [144]:
# 세제곱의 결과를 나타내는 함수가 있습니다.
def cube(n):
    return n ** 3

In [145]:
# 세제곱 함수를 각각의 요소에 적용한 결과값을 구해봅시다.
numbers = [1, 2, 3]

In [146]:
new_numbers = list(map(cube, numbers))

In [147]:
print(new_numbers)

[1, 8, 27]

### [연습] 코딩 테스트의 기본

> 두 정수를 입력 받아 더한 값을 출력하시오.

**[입력 예시]**

3 5

---

**[출력 예시]**

8

In [136]:
# 아래에 코드를 작성하시오.
a = input()

3 5

In [142]:
a = '3 5'
map_a = map(int, a.split())
print(list(map_a))

[3, 5]

In [143]:
a = map(int, input().split())
print(list(a))

3 5
[3, 5]

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [ ]:
# 특정 list에서 홀수만을 걸러내는 코드를 작성해봅시다.

In [39]:
# 홀수를 판별하는 함수가 있습니다.
def odd(n):
    return n % 2

In [37]:
# 홀수인 요소만 뽑아 new_numbers에 저장합니다.
numbers = [1, 2, 3]

In [150]:
new_numbers = list(filter(odd, numbers))

In [151]:
print(new_numbers)

[1, 3]

In [ ]:
# 다음의 list comprehension과 동일합니다.

In [41]:
[x for x in numbers if x % 2]
[x for x in numbers if odd(x)]

[1, 3]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아(`zip()`)준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [42]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [ ]:
# zip() 활용하여 짝을 맞추어 본다.

In [43]:
pair = list(zip(girls, boys))

In [44]:
print(pair)

[('jane', 'justin'), ('ashley', 'eric'), ('mary', 'david')]